* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  background: #C0DBD9;
  background-color: rgb(192, 219, 217);
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-section {
  background-color: rgb(127, 175, 246);
  margin-bottom: 15px;
  padding: 30px;
  position: relative;
}

.popup__btn {
  padding: 8px 15px;
  background: #A5C7F9;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 20px;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.popup__btn:hover {
  opacity: 0.8;
}

.popup {
  text-align: center;
  padding: 169px 0;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  left: 31%;
  text-decoration: none;
  max-width: 400px;
  width: 50%;
  min-width: 200px;
  font-size: 53px;
  top: 0;
  display: none;
}

@media screen and (max-width: 700px) {
  .popup {
    padding: 30px 0;
  }
}
.popup:target {
  display: block;
}

.close-btn {
  position: absolute;
  background: #7FAFF6;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  padding: 8px 15px;
  top: 15px;
  right: 15px;
  text-decoration: none;
}

.task-one-section {
  background-color: rgb(179, 249, 90);
  margin-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.3% 50.4% 13.9%;
  grid-template-columns: 33.3% 50.4% 13.9%;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 441px;
}

.task-one-section > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.task-one-section > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.task-one-section > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.task-one-section > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.task-one-section > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.task-one-section > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.one__item {
  background-color: rgb(138, 209, 145);
  position: relative;
  color: white;
}

.one__item::after {
  content: "1";
  font-family: "Roboto";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 53px;
}

.item2::after {
  content: "2";
}

.item3::after {
  content: "3";
}

.item4::after {
  content: "4";
}

.item5::after {
  content: "5";
}

.item4 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  margin-top: 1.2%;
}

.item5 {
  margin-top: 7.5%;
}

.task-two-section {
  margin-bottom: 100px;
  background-color: rgb(136, 181, 191);
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.two__item {
  background-color: rgb(13, 137, 176);
  width: 21.7%;
  height: 16.8vw;
  max-height: 199px;
}

.footer {
  background-color: rgb(127, 175, 246);
  min-height: 100px;
}